<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Our Products</title>
</head>
<body>
    <header>
        <h1>Welcome to the Shopme!</h1>
        <h2>We put customers first.</h2>
        <div class="topnav">
            <a href="index.html">Home</a>
            <a href="product.html">Products</a>
            <a class="active" href="account.html">My Account</a>
            <a href="login.html">Log In</a>
        </div>
    </header>
    <main>
        <h1>Our array of products won't make you disappointed.</h1>
        <section>
            <h1>Best Seller!</h1>
            <div>
                <table id="best-seller">
                    <tr>
                        <td>
                            <div class="w3-container">
                                <img src="/images/....jpg" alt="...">
                            </div>
                            <div class="w3-container">
                                <h3>Your Product Name</h3>
                                <h4>To be updated</h4>
                                <p><strong>19.99 USD</strong></p>
                            </div>
                            <div class="w3-container w3-blue">
                                <button>Add To Cart!</button>
                            </div>
                        </td>
                        <br>
                        <td>
                            <div class="w3-container">
                                <img src="/images/....jpg" alt="...">
                            </div>
                            <div class="w3-container">
                                <h3>Your Product Name</h3>
                                <h4>To be updated</h4>
                                <p><strong>29.99 USD</strong></p>
                            </div>
                            <div class="w3-container w3-blue">
                                <button>Add To Cart!</button>
                            </div>
                        </td>
                        <br>
                        <td>
                            <div class="w3-container">
                                <img src="/images/....jpg" alt="...">
                            </div>
                            <div class="w3-container">
                                <h3>Your Product Name</h3>
                                <h4>To be updated</h4>
                                <p><strong>33.49 USD</strong></p>
                            </div>
                            <div class="w3-container w3-blue">
                                <button>Add To Cart!</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </section>
    </main>
    <footer>
        <div class="topnav">
            <a href="">About our Company</a>
            <a>Copyright Information</a>
            <a>Privacy Policy</a>
        </div>
    </footer>
</body>
</html>