/* Add this to your CSS file or style section */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.components {
    display: flex; /* Use flexbox to place children in a row */
    justify-content: space-between; /* Add space between the children */
    max-width: 70%;
    margin: 20px auto;
}
.product-section {
    width: 75%;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0px auto;
    margin-right: 10px;
}

.product-section h1 {
    margin-top: 20px;
}
.basket-item {
    background-color:  #cac8c8;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    margin: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-info {
    display: flex;
    align-items: center;
}

.product-image {
    max-width: 150px;
    max-height: 150px;
    margin-right: 10px;
}

.product-details {
    flex: 1;
}

.buttons-container button {
    margin-right: 5px;
}

.checkout-section {
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
}
.checkout-container {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.checkout-details {
    margin-top: 20px;
}

.checkout-details p {
    margin: 10px 0;
}

.checkout-details input {
    margin: 10px;
    width: 80%;
    border: 1px solid #ccc;
}

hr {
    border: 1px solid #ddd;
}

#checkout-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
    width: 70%;
}

#reset-button {
    background-color: #ee3c3c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
    width: 70%;
}

#checkout-button:hover {
    background-color: #45a049;
}

#reset-button:hover {
    background-color: #ee5c5c;
}

.action-button button {
    width: 70%;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
}
  
.action-button button:hover {
    background-color: #2980b9;
}

@media screen and (max-width: 600px) {
    .components {
        flex-direction: column;
        max-width: 100%;
    }
    .product-section {
        width: 80%;
        margin-bottom: 20px;
        margin-left: 18px;
    }
    .checkout-section {
        width: 90%;
    }
    .basket-item {
        flex-direction: column;
    }
    
}