body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.ordercontainer {
    width: 68%;
    margin: 10px auto;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
  }
  
.orderdetail {
    border: 1px solid #ddd;
    padding: 15px;
    width: 70%;
    margin: 10px auto;
}
  
.orderinfo {
    margin-bottom: 10px;
}
  
.orderinfo p {
    margin: 5px 0;
}
  
.product-detail {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product-info {
    flex-grow: 1;
}
  
.product-info p {
    margin: 0;
}
  
.product-image {
    width: 300px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px;
}
  
.product-detail p {
    margin: 0;
}

.button-section {
    display: flex;
    justify-content: end;
    align-items: end;
}

.action-button {
    margin-top: 10px;
    display: flex;
  }
  
.action-button button {
    width: 150px;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-left: 150px;
}
  
.action-button button:hover {
    background-color: #2980b9;
}

@media only screen and (max-width: 600px) { 
    .ordercontainer {
        width: 90%;
    }
    .orderdetail {
        width: 90%;
    }
    .product-image {
        width: 90%;
    }
    .product-image {
        width: 100px;
    }
    .action-button button {
        margin-left: 0px;
    }
}