.detail-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  width: 100%;
}
  
.product-img{
  & img{
    width: 400px;
    height: 350px;
  }
  padding: 0;
  margin-top: 50px;
  border: solid;
}

.product-detail{
  height: 350px;
  width: 400px; 
}

.product-title{
  background-color: orange;
}

.product-type{
  font-size: 25px;
  margin-top: 20px;
}

.product-name{
  font-size: 25px;
  margin-bottom: 30px;
}

.product-description{
  font-size: 20px;
  
  margin-bottom: 30px;
}

.product-rating{
  font-size: 20px;
  margin-bottom: 20px;
}

.product-price{
  font-size: 20px;
  margin-bottom: 20px;
}


/* Add to cart button */

.cart-btn {
  &:hover{
    background-color: #64af3d;
  }
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}

.footer{
  margin-top: 50px;
  margin-left: 440px;
}