body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:  #ffd4dc;
    margin: 0;
    padding: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
}

h1 {
    color: #333;
}

.all-products {
    display: flex;
    margin: 0px;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    width: 25%;
    margin: 10px;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
