body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:  #ffd4dc;
    margin: 0;
    padding: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
}

h1 {
    color: #333;
}

.all-products {
    display: flex;
    margin: 0px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.col {
    width: 25%;
    margin: 10px;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.col:hover {
    transform: scale(1.05);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    color: #666;
    margin-bottom: 8px;
}

strong {
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-top: 20%;
    text-align: center;
}

/* Responsive styles for smartphones */
@media only screen and (max-width: 600px) {
    .all-products {
        align-items: center; /* Center items along the cross-axis */
        justify-content: center;
    }

    .col {
        width: 90%; /* Full width for smartphones */
    }
}

/* Responsive styles for tablets */
@media only screen and (min-width: 601px) and (max-width: 900px) {
    .all-products {
        justify-content: center; /* Center items along the cross-axis */
    }
    .col {
        width: 48%; /* Two columns for tablets */
    }
}