/* shipper.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.components {
    display: flex; /* Use flexbox to place children in a row */
    justify-content: space-between; /* Add space between the children */
    max-width: 60%;
    margin: 20px auto;
}

.ordercontainer {
    width: 70%;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    justify-content: space-between; /* Space between children */
    align-items: center; /* Center vertically */
}

.ordercontainer h1 {
    font-size: 30px;
    color: #333;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

.orderdetail {
    margin: 20px auto;
    display: flex; /* Use flexbox for orderdetail */
    justify-content: space-between; /* Space between children */
    width: 90%; /* Full width */
    background-color: rgb(222, 216, 216);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.orderdetail p {
    font-size: 16px;
    margin: 5px 0;
}
.orderdetail form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 100%;
}
.orderdetail form button:hover {
    background-color: #45a049;
    transition: 1s;
}

.orderinfo {
    flex: 1;
}