.navbar {
    padding: 10px; /* Adjust the padding as needed */
    color: black; /* Set the text color */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: black;
}
.links a {
    color: black; /* Set the link color */
    margin: 15px; /* Adjust the spacing between links */
    text-decoration: none; /* Remove the default underline */
}

.links a:hover {
    text-decoration: underline; /* Add underline on hover */
}