<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/basket.css">
    <title>Basket</title>
</head>
<body>
    <%- include('../components/header') %>
    <div class="components">
        <div class="product-section">
            <h1>Selected product</h1>
            <div id="basket-container" class="basket-container"></div>
        </div>
        <div class="checkout-section">
            <div class="checkout-container">
                <h1>Checkout</h1>
                <div class="checkout-details">
                    <p>Total Product Price: $<span id="total-price">0.00</span></p>
                    <p>Shipping Fee: $<span id="shipping-fee">0.00</span></p>
                    <p>Tax: $<span id="tax">0.00</span></p>
                    <hr>
                    <p>Total Cost: $<span id="total-cost">0.00</span></p>
                    <div class="checkout-details">
                        <!-- ... -->
                        <p>Enter your address:</p>
                        <input type="text" id="address-input" />
                        <p>Enter your phone number:</p>
                        <input type="text" id="phone-number-input" />
                        <!-- ... -->
                    </div>
                    <div id="message-container"></div>
                </div>
                <button id="checkout-button" onclick="sendBasketToServer()">Proceed to Checkout</button>
                <form action="/customer" method="GET" class="action-button">
                    <button type="submit" >Back to home</button>
                </form>
                <button id="reset-button" onclick="resetBasket()">Reset Basket</button>
            </div>
        </div>
    </div>
    <script src="/js/basket.js"></script>
</body>
</html>