<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ for service</title>
    <link rel="stylesheet" href="/public/css/faq.css">
</head>
<body>
    <%- include('../components/header') %>
    <section>
        <div class="container">
            <div class="accordion">
                <div class="accordion-item" id="question1">
                    <a class="accordion-link" href="#question1">
                        How can I buy a product ?
                        <ion-icon name="add-outline"></ion-icon>
                        <ion-icon name="remove-outline"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>
                            You should log in as a member. Then come to the homepage, pick up your favourite product. Choose buy now button and add to cart. Finally choose the payment method and select the order.
                        </p>
                    </div>
                   
                </div>


                <div class="accordion-item" id="question2">
                    <a class="accordion-link" href="#question2">
                        Do you offer loyalty point or reward point ?
                        <ion-icon name="add-outline"></ion-icon>
                        <ion-icon name="remove-outline"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>
                            You should log in as a member. Then come to the homepage, pick up your favourite product. Choose buy now button and add to cart. Finally choose the payment method and select the order.
                        </p>
                    </div>
                </div> 

                <div class="accordion-item" id="question3">
                    <a class="accordion-link" href="#question3">
                        Can I change or cancel my order  ?
                        <ion-icon name="add-outline"></ion-icon>
                        <ion-icon name="remove-outline"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>
                            You should log in as a member. Then come to the homepage, pick up your favourite product. Choose buy now button and add to cart. Finally choose the payment method and select the order.
                        </p>
                    </div>
                </div>

                <div class="accordion-item" id="question4">
                    <a class="accordion-link" href="#question4">
                        What methods of payment do you take  ?
                        <ion-icon name="add-outline"></ion-icon>
                        <ion-icon name="remove-outline"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>
                            You should log in as a member. Then come to the homepage, pick up your favourite product. Choose buy now button and add to cart. Finally choose the payment method and select the order.
                        </p>
                    </div>
                </div>

                <div class="accordion-item" id="question5">
                    <a class="accordion-link" href="#question5">
                        How long does shipping take ? When will I receive my order ? 
                        <ion-icon name="add-outline"></ion-icon>
                        <ion-icon name="remove-outline"></ion-icon>
                    </a>
                    <div class="answer">
                        <p>
                            You should log in as a member. Then come to the homepage, pick up your favourite product. Choose buy now button and add to cart. Finally choose the payment method and select the order.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('../components/footer') %>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>