<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQS</title>
    <link rel="stylesheet" href="public/css/faqnew.css" />
</head>
<body>
    <section>
        <h2 class="title">FAQs</h2>
        <div class="faq">
            <div class="question">
                <h3>How can I buy a product ?</h3>

                <svg width="15" height="10" viewBox="0 0 42 45">
                    <path 
                        d="M3 3L21 21L39 3" 
                        stroke="white" 
                        stroke-width="7" 
                        stroke-linecap="round"
                    />
                </svg>
            </div>
            <div class="answer">
                    <p>
                    You should log in as a member. Then come to the homepage, pick up your favourite product. 
                    Choose buy now button and add to cart. Select the payment method and complete the order
                    </p>
            </div>
        </div>


        <div class="faq">
            <div class="question">
                <h3>Can I make change or cancel my order ?</h3>

                <svg width="15" height="10" viewBox="0 0 42 45">
                    <path 
                        d="M3 3L21 21L39 3" 
                        stroke="white" 
                        stroke-width="7" 
                        stroke-linecap="round"
                    />
                </svg>
            </div>
            <div class="answer">
                    <p>
                    You should log in as a member. Then come to the homepage, pick up your favourite product. 
                    Choose buy now button and add to cart. Select the payment method and complete the order
                    </p>
            </div>
        </div>


        <div class="faq">
            <div class="question">
                <h3>What methods of payment do you take ?</h3>

                <svg width="15" height="10" viewBox="0 0 42 45">
                    <path 
                        d="M3 3L21 21L39 3" 
                        stroke="white" 
                        stroke-width="7" 
                        stroke-linecap="round"
                    />
                </svg>
            </div>
            <div class="answer">
                    <p>
                    You should log in as a member. Then come to the homepage, pick up your favourite product. 
                    Choose buy now button and add to cart. Select the payment method and complete the order
                    </p>
            </div>
        </div>
    </section>
    <script src="/public/js/faq.js"></script>
    
</body>
</html>