<header>
    <h1>Welcome to the Shopme!</h1>
    <h2>We put customers first.</h2>
    <div class="topnav">
        <a href="index.html">Home</a>
        <a href="product">Products</a>
        <a class="active" href="account.html">My Account</a>
        <a href="login.html">Log In</a>
    </div>
</header>