<html lang="en">
<style>
    /* Apply basic styling to the entire navigation bar */
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
    .top-nav {
        font-family: "Quicksand";
        color: #fff; /* Set the text color */
        padding: 10px; /* Add some padding for better appearance */
        text-align: center; /* Center-align the content */
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        margin: 20px auto;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    /* Style the heading (h1) */
    .top-nav h1 {
        color: #f1356d;
        margin: 0; /* Remove any default margin */
    }

    /* Style the links within the navigation bar */
    .top-nav .links a {
        color: black; /* Set the link text color */
        text-decoration: none; /* Remove the default underline */
        margin-right: 15px; /* Add some spacing between links */
    }

    /* Change the link color on hover for better user experience */
    .top-nav .links a:hover {
        color: #ffd700; /* Change the link color on hover */
    }
    @media only screen and (max-width: 600px) {
        .top-nav {
            width: 90%;
        }
        .top-nav .links a {
            margin-right: 7px;
        
        }
    }
</style>
<body>
    <header>
        <nav class="top-nav">
            <h1>Tikitaka</h1>
            <div class="links">
                <a href="/">Home</a>
                <a href="/product">Products</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
            </div>
        </nav>
    </header>
</body>
</html>